@font-face {
    font-family:"retro";
    src: url(./fonts/digital-7.ttf) format('truetype');
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    display: flex;
    flex-direction: column;
    background: url(/images/image.png) no-repeat center center / cover;
    height: 100vh;
    font-family: "retro";
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 6rem;
    padding: 10px;
    color:#6E6E6E;
    margin-top: 10px;
    /* font-weight: bold; */
    
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #6E6E6E;
    margin: 100px auto;
    height: 600px;
    width: 400px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    
}
.screen {
    
    background-color:#BAFF39;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    
    /* margin-top: 10px; */
    
}

#down {
    /* background-color: yellow; */
    height: 50%;
    text-align: right;
}

#up {
    /* background-color: red; */
    height: 50%;
    text-align: right;
}
.keys{
    
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 80%;
    /* background-color: brown; */
    padding-top: 20px;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    padding-bottom: 20px;
    gap: 10px;
    text-align: center;
}
.numbers {
    
    flex: 4;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    
    
}
.row {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5px;
       
}



.symbols {
    flex: 1;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

#enter {
    flex: 3;
}

.buttons {
    /* align-self: left; */
    background-color: #FFFFFF;
    border: 1.5px solid black;
    box-shadow: 0 0 5px;
    text-align: center;
    flex: 1;
    vertical-align: middle;
    font-size: 1.5rem;
    border-radius: 10px;
    
}


.footer {
    padding-bottom: 20px;
    font-size: 3.5rem;
    align-self: center;
    color: #6E6E6E;
    font-weight: bold;
  }

  #git {
    color: #6E6E6E;
  }

