
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin: 100px auto;
    height: 600px;
    width: 400px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    
}
.screen {
    
    background-color: white;
    width: 100%;
    height: 20%;
    /* margin-top: 10px; */
    
}
.keys{
    
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 80%;
    /* background-color: brown; */
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    gap: 10px;

}
.numbers {
    
    flex: 4;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    
    
}
.row {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5px;
       
}



.symbols {
    flex: 1;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

#enter {
    flex: 3;
}

.buttons {
    /* align-self: left; */
    background-color: red;
    border: 3px solid black;
    box-shadow: 0 0 5px;
    text-align: center;
    flex: 1;
    /* vertical-align: middle; */
    
}




