
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #B6E1E7;
    margin: 100px auto;
    height: 600px;
    width: 400px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    
}
.screen {
    
    background-color: #FAE7A5;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    
    /* margin-top: 10px; */
    
}

#down {
    /* background-color: yellow; */
    height: 50%;
    text-align: right;
}

#up {
    /* background-color: red; */
    height: 50%;
    text-align: right;
}
.keys{
    
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 80%;
    /* background-color: brown; */
    padding-top: 20px;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    padding-bottom: 20px;
    gap: 10px;
    text-align: center;
}
.numbers {
    
    flex: 4;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    
    
}
.row {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5px;
       
}



.symbols {
    flex: 1;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

#enter {
    flex: 3;
}

.buttons {
    /* align-self: left; */
    background-color: #F9B872;
    border: 1.5px solid black;
    box-shadow: 0 0 5px;
    text-align: center;
    flex: 1;
    vertical-align: middle;
    font-size: 1.5rem;
    border-radius: 10px;
    
}




